<div class="min-h-full">
  <div class="justify-center items-center py-12 px-4 sm:px-6 lg:flex-none lg:px-20 xl:px-24">
    <div class="mx-auto w-full max-w-sm lg:w-96">
      <div>
        <h2 class="mt-6 text-3xl font-bold tracking-tight text-gray-900 dark:text-zinc-100">Continue with</h2>
      </div>
      <div class="mt-8">
        <div>
          <div>
            <div class="mt-8">
              <div>
                <%= render "devise/shared/social" %>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

